<div x-data="{activeLink: 'home' }" class="py-4 text-gray-500 dark:text-gray-400">
  <a class="ml-6 text-lg font-bold cursor-pointer text-gray-800 dark:text-gray-200" hx-get="{% url 'wallet:home' %}"
    hx-trigger="click" hx-target="#dashboard-main" hx-replace-url="true" @click="closeSideMenu">
    allocatr
  </a>

  <ul class="mt-6">
    <!-- Home -->
    <li class="relative px-6 py-3 cursor-pointer">
      <span x-show="activeLink === 'home'" class="absolute inset-y-0 left-0 w-1.5 bg-accent rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
      <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100"
        hx-get="{% url 'wallet:home' %}" hx-trigger="click" hx-target="#dashboard-main" hx-replace-url="true"
        @click="closeSideMenu, activeLink = 'home' ">
        <svg viewBox="0 0 22 22" class="svg-icon dark:fill-white">
          <use xlink:href="#home-icon"></use>
        </svg>
        <span class="ml-4">Home</span>
      </a>
    </li>
  </ul>

  <ul>
    <!-- Accounts -->
    <li class="relative px-6 py-3 cursor-pointer">
      <span x-show="activeLink === 'accounts'" class="absolute inset-y-0 left-0 w-1.5 bg-accent rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
      <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
        hx-get="{% url 'wallet:accounts' %}" hx-trigger="click" hx-target="#dashboard-main"
        hx-vals='js:{month: getSelectedMonth()}' hx-replace-url="/accounts/" @click="closeSideMenu, activeLink = 'accounts' ">
        <svg viewBox="0 0 22 22" class="svg-icon dark:fill-white">
          <use xlink:href="#wallet-icon"></use>
        </svg>
        <span class="ml-4">Accounts</span>
      </a>
    </li>

    <!-- Transactions -->
    <li class="relative px-6 py-3 cursor-pointer">
      <button
        class="inline-flex items-center justify-between w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 focus:outline-none"
        @click="toggleTransactionsMenu, activeLink = 'transactions' " aria-haspopup="true">
        <span class="inline-flex items-center">
          <svg viewBox="0 0 22 22" class="svg-icon dark:fill-white">
            <use xlink:href="#list-icon"></use>
          </svg>
          <span class="ml-4">Transactions</span>
        </span>
        <i class="bi bi-chevron-down"></i>
      </button>
      <div x-show="isTransactionsMenuOpen">
        <ul x-transition:enter="transition-all ease-in-out duration-300" x-transition:enter-start="opacity-25 max-h-0"
          x-transition:enter-end="opacity-100 max-h-xl" x-transition:leave="transition-all ease-in-out duration-300"
          x-transition:leave-start="opacity-100 max-h-xl" x-transition:leave-end="opacity-0 max-h-0"
          class="p-2 mt-2 space-y-2 overflow-hidden text-sm font-medium text-gray-500 rounded-md shadow-inner bg-gray-50 dark:text-gray-400 dark:bg-gray-900"
          aria-label="submenu">

          <li
            class="relative px-2 py-1 cursor-pointer transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
            <span x-show="activeLink === 'allTransactions'" class="absolute inset-y-0 -left-2 w-1.5 bg-accent rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
            <a class="w-full" hx-get="{% url 'wallet:transactions' %}" hx-trigger="click" hx-target="#dashboard-main"
              hx-vals='js:{month: getSelectedMonth()}' hx-replace-url="/transactions/" @click="closeSideMenu, activeLink = 'allTransactions' ">
              <svg viewBox="0 0 22 22" class="svg-icon dark:fill-white">
                <use xlink:href="#list-icon"></use>
              </svg>
              <span class="ml-2">All Transactions</span>
            </a>
          </li>

          <li
            class="relative px-2 py-1 cursor-pointer transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
            <span x-show="activeLink === 'incomes'" class="absolute inset-y-0 -left-2 w-1.5 bg-accent rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
            <a class="w-full" href="#" @click="closeSideMenu, activeLink = 'incomes' ">
              <svg viewBox="0 0 22 22" class="svg-icon dark:fill-white">
                <use xlink:href="#income-icon"></use>
              </svg>
              <span class="ml-2">Incomes</span></a>
          </li>
          <li
            class="relative px-2 py-1 cursor-pointer transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
            <span x-show="activeLink === 'expenses'" class="absolute inset-y-0 -left-2 w-1.5 bg-accent rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
            <a class="w-full" href="#" @click="closeSideMenu, activeLink = 'expenses' ">
              <svg viewBox="0 0 22 22" class="svg-icon dark:fill-white">
                <use xlink:href="#expense-icon"></use>
              </svg>
              <span class="ml-2">Expenses</span></a>
          </li>
          <li
            class="relative px-2 py-1 cursor-pointer transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
            <span x-show="activeLink === 'transfers'" class="absolute inset-y-0 -left-2 w-1.5 bg-accent rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
            <a class="w-full" href="#" @click="closeSideMenu, activeLink = 'transfers' ">
              <svg viewBox="0 0 22 22" class="svg-icon dark:fill-white">
                <use xlink:href="#transfer-icon"></use>
              </svg>
              <span class="ml-2">Transfers</span></a>
          </li>
          <li
            class="relative px-2 py-1 cursor-pointer transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
            <span x-show="activeLink === 'plannedTransactions'" class="absolute inset-y-0 -left-2 w-1.5 bg-accent rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
            <a class="w-full" hx-get="{% url 'wallet:planned_transactions' %}" hx-trigger="click"
              hx-target="#dashboard-main" hx-vals='js:{month: getSelectedMonth()}'
              hx-replace-url="/transactions/planned/" @click="closeSideMenu, activeLink = 'plannedTransactions' ">
              <svg viewBox="0 0 22 22" class="svg-icon dark:fill-white">
                <use xlink:href="#calendar-icon"></use>
              </svg>
              <span class="ml-2">Planned transactions</span></a>
          </li>
          <li
            class="relative px-2 py-1 cursor-pointer transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
            <span x-show="activeLink === 'recurringTransactions'" class="absolute inset-y-0 -left-2 w-1.5 bg-accent rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
            <a class="w-full" hx-get="{% url 'wallet:planned_transactions' %}" hx-trigger="click"
              hx-target="#dashboard-main" hx-vals='js:{month: getSelectedMonth()}'
              hx-replace-url="/transactions/recurring/" @click="closeSideMenu, activeLink = 'recurringTransactions' ">
              <svg viewBox="0 0 22 22" class="svg-icon dark:fill-white">
                <use xlink:href="#recurring-icon"></use>
              </svg>
              <span class="ml-2">Recurring transactions</span></a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Categories -->
    <li class="relative px-6 py-3 cursor-pointer">
      <span x-show="activeLink === 'categories'" class="absolute inset-y-0 left-0 w-1.5 bg-accent rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
      <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
        hx-get="{% url 'wallet:categories' %}" hx-trigger="click" hx-target="#dashboard-main"
        hx-vals='js:{month: getSelectedMonth()}' hx-replace-url="/categories/" @click="closeSideMenu, activeLink = 'categories' ">
        <svg viewBox="0 0 22 22" class="svg-icon dark:fill-white">
          <use xlink:href="#swatch-icon"></use>
        </svg>
        <span class="ml-4">Categories</span>
      </a>
    </li>

    <!-- Reports -->
    <li class="relative px-6 py-3 cursor-pointer">
      <span x-show="activeLink === 'reports'" class="absolute inset-y-0 left-0 w-1.5 bg-accent rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
      <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
        href="#" @click="closeSideMenu, activeLink = 'reports' ">
        <svg viewBox="0 0 22 22" class="svg-icon dark:fill-white">
          <use xlink:href="#chart-icon"></use>
        </svg>
        <span class="ml-4">Reports</span>
      </a>
    </li>

    <!-- Budgets -->
    <li class="relative px-6 py-3 cursor-pointer">
      <span x-show="activeLink === 'budgets'" class="absolute inset-y-0 left-0 w-1.5 bg-accent rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
      <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
        hx-get="{% url 'wallet:budgets' %}" hx-trigger="click" hx-target="#dashboard-main"
        hx-vals='js:{month: getSelectedMonth()}' hx-replace-url="/budgets/" @click="closeSideMenu, activeLink = 'budgets' ">
        <svg viewBox="0 0 22 22" class="svg-icon dark:fill-white">
          <use xlink:href="#banknotes-icon"></use>
        </svg>
        <span class="ml-4">Budgets</span>
      </a>
    </li>

    <!-- Settings -->
    <li class="relative px-6 py-3 cursor-pointer">
      <span x-show="activeLink === 'settings'" class="absolute inset-y-0 left-0 w-1.5 bg-accent rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
      <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
        href="#" @click="closeSideMenu, activeLink = 'settings' ">
        <svg viewBox="0 0 22 22" class="svg-icon dark:fill-white">
          <use xlink:href="#settings-icon"></use>
        </svg>
        <span class="ml-4">Settings</span>
      </a>
    </li>
  </ul>
</div>
