<head>
  <title>allocatr | Categories</title>
</head>

<main hx-get="{% url 'wallet:categories' %}"
  hx-trigger="transactions-changed from:body, categories-changed from:body, month-selected from:body"
  hx-target="#dashboard-main" hx-vals='js:{month: getSelectedMonth()}' class="h-full overflow-y-auto">
  <div class="container px-6 mx-auto">

    <div class="flex flex-wrap flex-row">
    </div>

    <section class="px-5 py-4">

      {% if categories.EX %}
      <h1 class="mt-4 text-3xl font-bold text-gray-900 dark:text-white mb-4">
        <svg class="inline-block w-7 h-7 mb-2 mr-2 text-red-600" fill="none" stroke="currentColor" stroke-width="2.5"
          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5">
          </path>
        </svg>
        Expense Categories
      </h1>
      <!-- Card Grid -->
      <div
        class="grid grid-flow-row gap-6 text-neutral-600 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        {% for c in categories.EX %}

        <!-- Card Item -->
        <a hx-get="{% url 'wallet:category_detail' c.details.pk %}" hx-target="#sticky-modal" hx-trigger="click"
          @click="openStickyModal" class="category-card">
          <span class="absolute inset-x-0 top-0 rounded-tr-lg rounded-tl-lg" aria-hidden="true"
            style="background-color: {{ c.details.color }}">
            <h2 class="px-4 py-2 text-xl font-bold" style="color: {{ c.details.text_color }}">{{ c.details.name }}
            </h2>
          </span>

          <div class="flex flex-row justify-between mt-8 dark:text-white">
            {% if c.transactions_count %}
            <div class="font-bold">{{ user_settings.currency }} {{ c.total_amount.amount__sum|floatformat:0 }}</div>

            <div>{{ c.transactions_count }} transaction{{ c.transactions_count|pluralize }}</div>
            {% else %}
            <div>No transactions</div>
            {% endif %}
          </div>
          {% if c.subcategories %}

          {% for subcategory in c.subcategories %}
          {{ subcategory.name }}
          {% endfor %}

          {% endif %}
        </a>

        {% endfor %}
      </div>
      {% endif %}

      {% if categories.IN %}

      <h1 class="mt-10 text-3xl font-bold text-gray-900 dark:text-white mb-4">
        <svg class="inline-block w-7 h-7 mb-2 mr-2 text-green-600" fill="none" stroke="currentColor" stroke-width="2.5"
          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3">
          </path>
        </svg>
        Income Categories
      </h1>

      <!-- Card Grid -->
      <div
        class="grid grid-flow-row gap-6 text-neutral-600 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        {% for c in categories.IN %}

        <!-- Card Item -->
        <a hx-get="{% url 'wallet:category_detail' c.details.pk %}" hx-target="#sticky-modal" hx-trigger="click"
          @click="openStickyModal" class="category-card">
          <span class="absolute inset-x-0 top-0 bg-purple-600 rounded-tr-lg rounded-tl-lg" aria-hidden="true"
            style="background-color: {{ c.details.color }}">
            <h2 class="px-4 py-2 text-xl font-bold" style="color: {{ c.details.text_color }}">{{ c.details.name }}
            </h2>
          </span>

          <div class="flex flex-row justify-between mt-8 dark:text-white">
            {% if c.transactions_count %}
            <div class="font-bold">{{ user_settings.currency }} {{ c.total_amount.amount__sum|floatformat:0 }}</div>

            <div>{{ c.transactions_count }} transaction{{ c.transactions_count|pluralize }}</div>
            {% else %}
            <div>No transactions</div>
            {% endif %}
          </div>
        </a>

        {% endfor %}
      </div>
      {% endif %}

      {% if categories.TR %}
      <h1 class="mt-10 text-3xl font-bold text-gray-900 dark:text-white mb-4">
        <svg class="inline-block w-7 h-7 mb-2 mr-2 text-blue-600" fill="none" stroke="currentColor" stroke-width="2.5"
          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"></path>
        </svg>
        Transfer Categories
      </h1>
      <!-- Card Grid -->
      <div
        class="grid grid-flow-row gap-6 text-neutral-600 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        {% for c in categories.TR %}

        <!-- Card Item -->
        <a hx-get="{% url 'wallet:category_detail' c.details.pk %}" hx-target="#sticky-modal" hx-trigger="click"
          @click="openStickyModal" class="category-card">
          <span class="absolute inset-x-0 top-0 bg-purple-600 rounded-tr-lg rounded-tl-lg" aria-hidden="true"
            style="background-color: {{ c.details.color }}">
            <h2 class="px-4 py-2 text-xl font-bold" style="color: {{ c.details.text_color }}">{{ c.details.name }}
            </h2>
          </span>

          <div class="flex flex-row justify-between mt-8 dark:text-white">
            {% if c.transactions_count %}
            <div class="font-bold">{{ user_settings.currency }} {{ c.total_amount.amount__sum|floatformat:0 }}</div>

            <div>{{ c.transactions_count }} transaction{{ c.transactions_count|pluralize }}</div>
            {% else %}
            <div>No transactions</div>
            {% endif %}
          </div>
        </a>

        {% endfor %}
      </div>
      {% endif %}

    </section>
  </div>
</main>
