@tailwind base;
@tailwind components;
@tailwind utilities;

.primaryBtn {
    @apply mx-2 scale-100 cursor-pointer rounded-lg bg-accent px-4 py-1.5 text-white hover:scale-105 hover:bg-accentDarkest;
}

.secondaryBtn {
    @apply mx-2 scale-100 rounded-lg border border-gray-300 bg-white px-4 py-1.5 text-gray-900 hover:scale-105 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700;
}

.redBtn {
    @apply mx-2 scale-100 cursor-pointer rounded-lg bg-red-500 px-4 py-1.5 text-white hover:scale-105 hover:bg-red-600;
}

.success-toast {
    background-color: #459417 !important;
    color: white !important;
    font-size: 18px !important;
}

.error-toast {
    background-color: #ee3c3c !important;
    color: white !important;
    font-size: 18px !important;
}

.warning-toast {
    background-color: #e9a66c !important;
    color: white !important;
    font-size: 18px !important;
}

.info-toast {
    background-color: #3fc3ee !important;
    color: white !important;
    font-size: 18px !important;
}

.question-toast {
    background-color: #87adbd !important;
    color: white !important;
    font-size: 18px !important;
}

.checkbox-input {
    @apply h-6 w-6 rounded border-gray-300 bg-gray-100 text-accent focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:checked:border-accent dark:checked:bg-accent dark:focus:ring-blue-600 dark:focus:ring-offset-gray-800;
}
