@tailwind base;
@tailwind components;
@tailwind utilities;

.primaryBtn {
    @apply mx-2 px-4 py-2 rounded-lg cursor-pointer bg-accent text-white scale-100 hover:scale-105 hover:bg-accentDarkest;
}

.secondaryBtn {
    @apply mx-2 px-4 py-2 rounded-lg border border-gray-300 bg-white text-gray-900 hover:bg-gray-100 scale-100 hover:scale-105 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700;
}

.redBtn {
    @apply mx-2 px-4 py-2 rounded-lg cursor-pointer bg-red-500 text-white scale-100 hover:scale-105 hover:bg-red-600;
}

.success-toast {
    background-color: #459417 !important;
    color: white !important;
    font-size: 18px !important;
}

.error-toast {
    background-color: #ee3c3c !important;
    color: white !important;
    font-size: 18px !important;
}

.warning-toast {
    background-color: #e9a66c !important;
    color: white !important;
    font-size: 18px !important;
}

.info-toast {
    background-color: #3fc3ee !important;
    color: white !important;
    font-size: 18px !important;
}

.question-toast {
    background-color: #87adbd !important;
    color: white !important;
    font-size: 18px !important;
}
