{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>{% block title %}allocatr »{% endblock title %}</title>
    <meta name="description" content="Budgeting and personal finances tracker app built with Django">
    <meta name="author" content="Iosif Solomon">

    <link rel="icon" type="image/x-icon" href="{% static 'images/allocatr-logo-square.png' %}"/>

    {% block css %}
        <link href="{% static 'cork/vertical-light-menu/css/light/loader.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'cork/vertical-light-menu/css/dark/loader.css' %}" rel="stylesheet" type="text/css" />
        <script defer src="{% static 'cork/vertical-light-menu/loader.js' %}"></script>

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
        <link href="{% static 'cork/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'cork/vertical-light-menu/css/light/plugins.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'cork/vertical-light-menu/css/dark/plugins.css' %}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->

        <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
        {% comment %} <link href="{% static 'cork/plugins/src/apex/apexcharts.css' %}" rel="stylesheet" type="text/css"> {% endcomment %}
        <link href="{% static 'cork/assets/css/light/dashboard/dash_1.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'cork/assets/css/dark/dashboard/dash_1.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{% static 'cork/plugins/src/table/datatable/datatables.css' %}">
        <link href="{% static 'cork/assets/css/light/components/modal.css' %}" rel="stylesheet" type="text/css" />
        {% comment %} <link href="{% static 'cork/assets/css/dark/components/modal.css' %}" rel="stylesheet" type="text/css" /> {% endcomment %}
        <link href="{% static 'cork/plugins/src/animate/animate.css' %}" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="{% static 'cork/plugins/src/sweetalerts2/sweetalert2.min.css' %}">
        <link href="{% static 'cork/plugins/css/light/sweetalerts2/custom-sweetalert.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'cork/plugins/css/dark/sweetalerts2/custom-sweetalert.css' %}" rel="stylesheet" type="text/css" />

        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'cork/plugins/css/light/table/datatable/dt-global_style.css' %}"> {% endcomment %}
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'cork/plugins/css/light/table/datatable/custom_dt_custom.css' %}"> {% endcomment %}

        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'cork/plugins/css/dark/table/datatable/dt-global_style.css' %}"> {% endcomment %}
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'cork/plugins/css/dark/table/datatable/custom_dt_custom.css' %}"> {% endcomment %}
        <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    {% endblock %}

    {% block javascript %}
        <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
        <script defer src="{% static 'js/htmx.min.js' %}"></script>
        <script defer src="{% static 'js/_hyperscript.min.js' %}"></script>
        <script defer src="{% static 'cork/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script defer src="{% static 'cork/plugins/src/font-icons/feather/feather.min.js' %}"></script>
        <script defer src="{% static 'cork/plugins/src/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
        <script defer src="{% static 'cork/plugins/src/mousetrap/mousetrap.min.js' %}"></script>
        <script defer src="{% static 'cork/plugins/src/waves/waves.min.js' %}"></script>
        <script defer src="{% static 'cork/vertical-light-menu/app.js' %}"></script>
        <script defer src="{% static 'cork/assets/js/custom.js' %}"></script>
        <script defer src="{% static 'js/project.js' %}"></script>
        <script defer src="{% static '/plugins/src/highlight/highlight.pack.js' %}"></script>
        <!-- END GLOBAL MANDATORY SCRIPTS -->

        <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
        <script defer src="{% static 'cork/plugins/src/apex/apexcharts.min.js' %}"></script>
        <script defer src="{% static 'cork/assets/js/dashboard/dash_1.js' %}"></script>
        <script defer src="{% static 'cork/plugins/src/table/datatable/datatables.js' %}"></script>
        <script defer src="{% static 'cork/plugins/src/sweetalerts2/sweetalert2.min.js' %}"></script>
        <script defer src="{% static 'cork/plugins/src/sweetalerts2/custom-sweetalert.js' %}"></script>
        <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    {% endblock javascript %}

</head>

<body class="layout-boxed" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% if request.user.is_authenticated %}
        <!-- BEGIN LOADER -->
        <div id="load_screen"> <div class="loader">
        <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
        </div></div></div>
        <!--  END LOADER -->

        <!--  BEGIN NAVBAR  -->
        {% include "partials/_navbar.html" %}
        <!--  END NAVBAR  -->

        <!--  BEGIN MAIN CONTAINER  -->
        <div class="main-container" id="container">

            <div class="overlay"></div>
            <div class="cs-overlay"></div>
            <div class="search-overlay"></div>

            <!--  BEGIN SIDEBAR  -->
            {% include "partials/_sidebar.html" %}
            <!--  END SIDEBAR  -->

            <!--  BEGIN CONTENT AREA  -->
            <div id="content" class="main-content">
                <div class="layout-px-spacing">
                    <div class="middle-content container-xxl p-0">

                            {% block content %}
                            <p>Use this document as a way to quick start any new project.</p>
                            {% endblock content %}

                    </div>
                </div>

                <!--  BEGIN FOOTER  -->
                {% include "partials/_footer.html" %}
                <!--  END FOOTER  -->

            </div>
            <!--  END CONTENT AREA  -->

        </div>
        <!-- END MAIN CONTAINER -->
    {% else %}
        <a class="btn btn-primary" href="{% url 'account_login' %}">Login</a>
        <a class="btn btn-primary" href="{% url 'account_signup' %}">Register</a>
    {% endif %}
    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}

    {% endblock inline_javascript %}
</body>
</html>
