<head>
  <title>allocatr | Home</title>
</head>

<main class="overflow-y-auto">
  <div class="mt-4 grid grid-cols-12 gap-4 px-6 transition-all duration-[.25s] sm:mt-5 sm:gap-5 lg:mt-6 lg:gap-6">
    <h2 class="col-span-12 my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      Welcome {{ user.first_name|title }}
    </h2>

    <!-- User accounts -->
    <div class="col-span-12" hx-get="{% url 'wallet:accounts_list' %}" hx-trigger="load, transactions-changed from:body"
      hx-target="this">
    </div>

    {% include 'wallet/home/partials/expenses_chart.html' %}

    <div class="col-span-12 lg:col-span-8">
      {% comment %} {% include 'wallet/home/partials/transaction_table.html' %} {% endcomment %}
    </div>

  </div>




</main>


{% include 'wallet/partials/mobile_add_menu.html' %}
