<div id="transactions" class="overflow-y-auto" x-data="transactionTableData()"
  @htmx:after-settle.window="updatePaginationDisplay()">
  <div class="">

    <div class=" mt-10 w-full overflow-hidden h-screen">

      <!-- Desktop View (table)-->
      <div id="transactions-table" class="w-full overflow-hidden rounded-lg shadow-xl hidden md:block">
        <table class="table-auto w-full dark:border dark:border-gray-800">
          <colgroup>
            <col class="w-1/3">
            <col class="w-12">
            <col class="">
            <col class="">
            <col class="">
          </colgroup>

          <caption class="relative bg-white dark:bg-gray-800 rounded-tr-lg rounded-tl-lg">
            <div class="flex flex-col items-center justify-between p-3 md:flex-row md:space-y-0 md:space-x-4">

              <!-- Search Input -->
              <div class="flex flex-row items-center">
                <div class="w-60">
                  <label for="simple-search" class="sr-only">Search</label>
                  <div class="relative w-full"
                    :class="{'border-red-500 border rounded-lg shadow-red-500 shadow': searched }">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                      <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                        viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                          clip-rule="evenodd" />
                      </svg>
                    </div>
                    <input
                      class="search block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      :class="{'shadow-red-500': searched }" placeholder="Search"
                      @input.debounce.200ms="updatePaginationDisplay(); updateSearched()">
                  </div>
                </div>

                <div x-data="{reloading: false}" class="justify-self-start px-4 py-1">
                  <button @click="reloading = !reloading" @click.debounce.800ms="$dispatch('reload-transactions')">
                    <span>
                      <svg viewBox="0 0 20 20" class="svg-icon fill-gray-500 rotate" :class="{'down': reloading}">
                        <use xlink:href="#reload"></use>
                      </svg>
                    </span>
                  </button>
                </div>

              </div>

              <div
                class="flex flex-col items-stretch justify-end flex-shrink-0 w-full space-y-2 md:w-auto md:flex-row md:space-y-0 md:items-center md:space-x-3">

                <div class="flex items-center w-full space-x-3 md:w-auto">

                  <!-- Filter Dropdown -->
                  <div class="relative">
                    <button id="filterDropdownButton" @click="filterMenuOpen = !filterMenuOpen"
                      class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg md:w-auto focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                      :class="{'shadow-red-500 shadow border-red-500': activeFilter }" type="button">
                      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5 mr-2 text-gray-400"
                        :class="{'fill-red-500': activeFilter }" viewbox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                          d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
                          clip-rule="evenodd" />
                      </svg>
                      Filter
                      <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd"
                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                      </svg>
                    </button>

                    <div x-show="filterMenuOpen" @click.away="filterMenuOpen = false"
                      class="absolute z-20  p-3 bg-white rounded-lg shadow dark:bg-gray-700">

                      <ul class="space-y-2 text-sm" aria-labelledby="dropdownDefault">
                        <li class="flex items-center">
                          <input id="remove-filters" type="radio" name="filter-radio"
                            @click="removeFilters(); updatePaginationDisplay()"
                            class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500 dark:checked:bg-accent" />
                          <label for="remove-filters"
                            class="ml-2 text-sm font-medium whitespace-nowrap text-gray-900 dark:text-gray-100">
                            All
                          </label>
                        </li>
                        <li class="flex items-center">
                          <input id="income-filter" type="radio" name="filter-radio"
                            @click="filterIncome(); updatePaginationDisplay()"
                            class=" filter w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500 dark:checked:bg-accent" />
                          <label for="income-filter" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                            Income
                          </label>
                        </li>
                        <li class="flex items-center">
                          <input id="expenses-filter" type="radio" name="filter-radio"
                            @click="filterExpenses(); updatePaginationDisplay()"
                            class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500 dark:checked:bg-accent" />
                          <label for="expenses-filter"
                            class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                            Expense
                          </label>
                        </li>
                        <li class="flex items-center">
                          <input id="transfers-filter" type="radio" name="filter-radio"
                            @click="filterTransfers(); updatePaginationDisplay()"
                            class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500 dark:checked:bg-accent" />
                          <label for="transfers-filter"
                            class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                            Transfer
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </caption>


          <thead class=" bg-white font-semibold uppercase dark:bg-gray-800 dark:text-white">
            <tr>
              <!-- Transaction Title -->
              <th class="text-sm tracking-wide text-left">
                <div class="flex justify-start items-center">
                  <span class="p-2">Transaction</span>
                  <span class="cursor-pointer">
                    <button class="sort" data-sort="tr__title" @click="sortByColumn('trTitle')">
                      <span x-show="sortingState.trTitle === 'unsorted'"><svg viewBox="0 0 20 20"
                          class="svg-icon fill-gray-800 dark:fill-white opacity-10">
                          <use xlink:href="#chevron-up-down"></use>
                        </svg></span>
                      <span x-show="sortingState.trTitle === 'asc'"><svg viewBox="0 0 20 20"
                          class="svg-icon fill-red-500">
                          <use xlink:href="#chevron-up"></use>
                        </svg></span>
                      <span x-show="sortingState.trTitle === 'desc'"><svg viewBox="0 0 20 20"
                          class="svg-icon fill-red-500">
                          <use xlink:href="#chevron-down"></use>
                        </svg></span>
                    </button>
                  </span>
                </div>
              </th>

              <!-- Transaction Amount -->
              <th class="text-sm tracking-wide text-left">
                <div class="flex justify-start items-center">
                  <span class="p-2">Amount</span>
                  <span class="tcursor-pointer">
                    <button class="sort" data-sort="tr__amount" @click="sortByColumn('trAmount')">
                      <span x-show="sortingState.trAmount === 'unsorted'"><svg viewBox="0 0 20 20"
                          class="svg-icon fill-gray-800 dark:fill-white opacity-10">
                          <use xlink:href="#chevron-up-down"></use>
                        </svg></span>
                      <span x-show="sortingState.trAmount === 'asc'"><svg viewBox="0 0 20 20"
                          class="svg-icon fill-red-500">
                          <use xlink:href="#chevron-up"></use>
                        </svg></span>
                      <span x-show="sortingState.trAmount === 'desc'"><svg viewBox="0 0 20 20"
                          class="svg-icon fill-red-500">
                          <use xlink:href="#chevron-down"></use>
                        </svg></span>
                    </button>
                  </span>
                </div>
              </th>

              <!-- Transaction Category -->
              <th class="text-sm tracking-wide text-left">
                <div class="flex justify-start items-center">
                  <span class="p-2">Category</span>
                  <span class="cursor-pointer">
                    <button class="sort" data-sort="tr__category" @click="sortByColumn('trCategory')">
                      <span x-show="sortingState.trCategory === 'unsorted'"><svg viewBox="0 0 20 20"
                          class="svg-icon fill-gray-800 dark:fill-white opacity-10">
                          <use xlink:href="#chevron-up-down"></use>
                        </svg></span>
                      <span x-show="sortingState.trCategory === 'asc'"><svg viewBox="0 0 20 20"
                          class="svg-icon fill-red-500">
                          <use xlink:href="#chevron-up"></use>
                        </svg></span>
                      <span x-show="sortingState.trCategory === 'desc'"><svg viewBox="0 0 20 20"
                          class="svg-icon fill-red-500">
                          <use xlink:href="#chevron-down"></use>
                        </svg></span>
                    </button>
                  </span>
                </div>
              </th>

              <!-- Transaction Date -->
              <th class="text-sm tracking-wide text-left">
                <div class="flex justify-start items-center">
                  <span class="p-2">Date</span>
                  <span class="cursor-pointer">
                    <button class="sort" data-sort="tr__date" @click="sortByColumn('trDate')">
                      <span x-show="sortingState.trDate === 'unsorted'"><svg viewBox="0 0 20 20"
                          class="svg-icon fill-gray-800 dark:fill-white opacity-10">
                          <use xlink:href="#chevron-up-down"></use>
                        </svg></span>
                      <span x-show="sortingState.trDate === 'asc'"><svg viewBox="0 0 20 20"
                          class="svg-icon fill-red-500">
                          <use xlink:href="#chevron-up"></use>
                        </svg></span>
                      <span x-show="sortingState.trDate === 'desc'"><svg viewBox="0 0 20 20"
                          class="svg-icon fill-red-500">
                          <use xlink:href="#chevron-down"></use>
                        </svg></span>
                    </button>
                  </span>
                </div>
              </th>
            </tr>
          </thead>

          <tbody
            class="list divide-y divide-gray-200 bg-white text-gray-800 dark:bg-gray-800 dark:text-gray-100 dark:divide-gray-800">

            <!-- Transaction Rows -->
            {% for tr in transactions %}
            <tr hx-get="{% url 'wallet:transaction_detail' tr.pk %}" hx-target="#modal" hx-trigger="click"
              @click="openModal"
              class="py-1 cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-800 bg-gray-100 dark:bg-gray-900">

              <!-- Transaction Title -->
              <td class="px-2 py-1 text-xs whitespace-nowrap tracking-wide tr__title">
                {% if tr.get_transaction_type_display == 'Income' %}
                <svg viewBox="0 0 22 22" class="svg-icon-sm fill-green-500">
                  <use xlink:href="#income-icon"></use>
                </svg>&nbsp;{{ tr.title|capfirst }}
                {% elif tr.get_transaction_type_display == 'Expense' %}
                <svg viewBox="0 0 22 22" class="svg-icon-sm fill-red-500">
                  <use xlink:href="#expense-icon"></use>
                </svg>&nbsp;{{ tr.title|capfirst }}
                {% elif tr.get_transaction_type_display == 'Transfer' %}
                <svg viewBox="0 0 22 22" class="svg-icon-sm fill-blue-500">
                  <use xlink:href="#transfer-icon"></use>
                </svg>&nbsp;{{ tr.title|capfirst }}
                {% endif %}
              </td>

              <!-- Transaction Amount -->
              <td class="px-2 py-1 text-xs whitespace-nowrap tracking-wide font-semibold tr__amount">
                {{ user_settings.currency }}
                {{ tr.amount|floatformat:0 }}</td>

              <!-- Transaction Category -->
              <td class="px-2 py-1 text-xs whitespace-nowrap tr__category">
                <span class="px-2 py-0.5 text-xs font-medium uppercase rounded-lg"
                  style="background-color: {{ tr.category.color }}; color: {{ tr.category.text_color }};">{{ tr.category }}
                </span>
              </td>

              <!-- Transaction Date -->
              <td class="px-2 py-1 text-xs whitespace-nowrap tr__date">{{ tr.date|date:"d M" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <!-- Pagination -->
        <div
          class="hidden px-4 py-2.5 text-xs font-semibold tracking-wide text-gray-800 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800 md:grid">
          <span class="flex items-center col-span-3 justify-start font-semibold" x-html="paginationDisplay"></span>
          <span class="col-span-2"></span>
          <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
            <nav aria-label="Table navigation">
              <ul class="pagination inline-flex items-center space-x-1" @click.debounce="updatePaginationDisplay"></ul>
            </nav>
          </span>

        </div>

      </div>
    </div>
    </section>
