<main
  hx-get="{% url 'wallet:account_detail' account.pk %}"
  hx-trigger="transactionListChanged from:body delay:1s"
  hx-target="#dashboard-main"
  :hx-vals="getHtmxPeriodVals"
  class="h-full overflow-y-auto"
  >
  <div class="container px-6 mx-auto">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Your wallet accounts</h2>

    <div class="flex flex-wrap flex-row">
      <p class=" text-2xl text-gray-800 dark:text-white">
        {{ account }}

        {% for tr in transactions %}

        <span class="text-green-700">{{ tr.account }}</span><span> || {{tr}}</span>
        <br>

        {% endfor %}

      </p>
    </div>
  </div>
</main>

{% include 'wallet/partials/mobile_add_menu.html' with add_buttons='wallet/partials/add_buttons/add_account.html' %}
