<div class="relative hidden md:block">
  <button
    class="p-1.5 align-middle rounded-full bg-accent text-white focus:outline-none"
    @click="toggleAddMenu"
    @keydown.escape="closeAddMenu"
    aria-label="Add transaction"
    aria-haspopup="true"
  >
    <svg
      class="h-6 w-6"
      fill="none"
      stroke="currentColor"
      stroke-width="2.5"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 4.5v15m7.5-7.5h-15"
      ></path>
    </svg>
  </button>
  <div x-show="isAddMenuOpen">
    <ul
      x-transition:leave="transition ease-in duration-150"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      @mousedown.outside="closeAddMenu"
      @keydown.escape="closeAddMenu"
      class="absolute left-0 mt-2 p-1 pr-10 rounded-lg mx-auto bg-white text-gray-800 dark:bg-gray-800 dark:text-white"
      aria-label="submenu"
    >


    {% include add_buttons|default:'wallet/partials/add_buttons/add_transactions.html' %}


    </ul>
  </div>
</div>
