<head>
  <title>allocatr | Transactions</title>
</head>

<section id="transactions" hx-get="{% url 'wallet:transactions' %}"
  hx-trigger="accounts-changed from:body, transactions-changed from:body, month-selected from:body"
  hx-target="#dashboard-main" hx-vals='js:{month: getSelectedMonth()}' class="h-full overflow-y-auto">
  <div class="container px-6 mx-auto">

    <!-- New Implementation -->
    <div class=" mt-10 w-full overflow-hiddenh-screen bg-gray-200 text-gray-900 dark:bg-gray-900 dark:text-white">
      <h1 class="text-2xl font-semibold mb-2">Transactions</h1>

      <!-- Desktop View (table)-->
      <div class="overflow-auto rounded-lg shadow-xl hidden md:block">
        <table id="transactions-table" class="w-full dark:border dark:border-gray-800">

          <!-- Table Header from Flowbite Blocks -->
          <caption class="relative bg-white dark:bg-gray-800 rounded-tr-lg rounded-tl-lg">
            <div class="flex flex-col items-center justify-between p-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4">

              <!-- Search Input -->
              <div class="w-60">
                <label for="simple-search" class="sr-only">Search</label>
                <div class="relative w-full">
                  <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                      viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd" />
                    </svg>
                  </div>
                  <input
                    class="search block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Search">
                </div>
              </div>

              <!-- Pagination -->
              <ul class="pagination flex flex-row space-x-2"></ul>

              <div
                class="flex flex-col items-stretch justify-end flex-shrink-0 w-full space-y-2 md:w-auto md:flex-row md:space-y-0 md:items-center md:space-x-3">

                <div class="flex items-center w-full space-x-3 md:w-auto">

                  <!-- Sort Menu -->
                  <div class="relative" x-data="{open: false}">
                    <button id="sortDropdownButton" @click="open = !open"
                      class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg md:w-auto focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                      type="button">
                      Sort
                      <svg class="ml-1 w-5 h-5" fill="currentColor" viewbox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd"
                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                      </svg>
                    </button>
                    <div x-show="open" x-on:click.away="open = false"
                      class="absolute z-10 bg-white divide-y divide-gray-100 rounded-lg px-1 shadow dark:bg-gray-700 dark:divide-gray-600">
                      <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="sortDropdownButton">
                        <li>
                          <button class="sort dropdown-button text-sm" data-sort="tr__type">By Type</button>
                        </li>
                        <li>
                          <button class="sort dropdown-button text-sm" data-sort="tr__title">By Title</button>
                        </li>
                        <li>
                          <button class="sort dropdown-button text-sm" data-sort="tr__date">By Date</button>
                        </li>
                        <li>
                          <button class="sort dropdown-button text-sm" data-sort="tr__amount">By Amount</button>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!-- Filter Dropdown -->
                  <div class="relative" x-data="{open: false}">
                    <button id="filterDropdownButton" @click="open = !open"
                      class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg md:w-auto focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                      type="button">
                      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-4 mr-2 text-gray-400"
                        viewbox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                          d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
                          clip-rule="evenodd" />
                      </svg>
                      Filter
                      <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd"
                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                      </svg>
                    </button>

                    <!-- Filter Dropdown Menu -->
                    <div x-show="open" @click.away="open = false"
                      class=" absolute z-10 w-48 p-3 bg-white rounded-lg shadow dark:bg-gray-700">
                      <button @click="filterExpense" class="dropdown-button">Expense</button>
                      <ul class="space-y-2 text-sm" aria-labelledby="dropdownDefault">

                        <li class="flex items-center">
                          <input id="apple" type="checkbox" value="" data-filter="tr__category"
                            class=" filter w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
                          <label for="apple" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                            Apple (56)
                          </label>
                        </li>

                        <li class="flex items-center">
                          <input id="fitbit" type="checkbox" value=""
                            class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
                          <label for="fitbit" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                            Fitbit (56)
                          </label>
                        </li>

                        <li class="flex items-center">
                          <input id="dell" type="checkbox" value=""
                            class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
                          <label for="dell" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                            Dell (56)
                          </label>
                        </li>

                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </caption>

          <thead class="border-b-1 border-gray-200 bg-white dark:bg-gray-800 dark:text-gray-100 dark:border-gray-700">
            <tr>
              <th class="w-6 p-3 text-sm font-semibold tracking-wide text-left">Type</th>
              <th class="p-3 text-sm font-semibold tracking-wide text-left">Transaction</th>
              <th class="w-24 p-3 text-sm font-semibold tracking-wide text-left">Category</th>
              <th class="w-24 p-3 text-sm font-semibold tracking-wide text-left">Amount</th>
              <th class="w-32 p-3 text-sm font-semibold tracking-wide text-left">Account</th>
              <th class="w-32 p-3 text-sm font-semibold tracking-wide text-left">Date</th>
            </tr>
          </thead>

          <tbody
            class="list divide-y divide-gray-200 bg-white text-gray-800 dark:bg-gray-800 dark:text-gray-100 dark:divide-none">

            <!-- Transaction Rows -->
            {% for tr in transactions %}
            <tr hx-get="{% url 'wallet:transaction_detail' tr.pk %}" hx-target="#modal" hx-trigger="click"
              @click="openModal"
              class="py-1 cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 {% if forloop.counter|divisibleby:2 %} bg-white dark:bg-gray-800 {% else %} bg-gray-100 dark:bg-gray-900 {% endif %}">

              <!-- Transaction Type -->
              <td class="p-3 text-sm whitespace-nowrap tr__type">
                {% if tr.get_transaction_type_display == 'Income' %}
                <i class="bi bi-arrow-up-right text-green-600"></i>
                {% elif tr.get_transaction_type_display == 'Expense' %}
                <i class="bi bi-arrow-down-right text-red-600"></i>
                {% elif tr.get_transaction_type_display == 'Transfer' %}
                <i class="bi bi-arrow-left-right text-blue-500"></i>
                {% endif %}
              </td>

              <!-- Transaction Title -->
              <td class="p-3 text-sm whitespace-nowrap tr__title">
                {{ tr.title|title }}
              </td>

              <!-- Transaction Category -->
              <td class="p-3 text-sm whitespace-nowrap tr__category">
                <span class="px-2 py-1 text-xs font-medium uppercase tracking-wider rounded-lg"
                  style="background-color: {{ tr.category.color }}; color: {{ tr.category.text_color }}; opacity: 0.8;">{{ tr.category }}
                </span>
              </td>

              <!-- Transaction Amount -->
              <td class="p-3 text-sm whitespace-nowrap tr__amount">RON {{ tr.amount|floatformat:0 }}</td>

              <!-- Transaction Account -->
              <td class="p-3 text-sm whitespace-nowrap tr__account">
                <span class="px-2 py-1 text-xs font-medium uppercase tracking-wider rounded-lg"
                  style="background-color: {{ tr.account.color }}; color: {{ tr.account.text_color }}">
                  {{ tr.account.name }}
                </span>
              </td>

              <!-- Transaction Date -->
              <td class="p-3 text-sm whitespace-nowrap tr__date">{{ tr.date|date:"d M Y" }}</td>
            </tr>
            {% endfor %}


          </tbody>

        </table>
      </div>

      <!-- Mobile View (grid of cards) -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:hidden">

        {% for tr in transactions %}

        <!-- Transaction Card -->
        <div class="bg-white space-y-3 p-4 rounded-lg shadow">
          <div class="flex items-center space-x-2 text-sm">
            <div>
              {% if tr.get_transaction_type_display == 'Income' %}
              <i class="bi bi-arrow-up-right text-green-600"></i>
              {% elif tr.get_transaction_type_display == 'Expense' %}
              <i class="bi bi-arrow-down-right text-red-600"></i>
              {% elif tr.get_transaction_type_display == 'Transfer' %}
              <i class="bi bi-arrow-left-right text-blue-500"></i>
              {% endif %}
            </div>
            <div class="text-gray-500">{{ tr.date|date:"d M Y" }}</div>
            <div>
              <span class="px-2 py-1 text-xs font-medium uppercase tracking-wider rounded-lg"
                style="background-color: {{ tr.category.color }}; color: {{ tr.category.text_color }}; opacity: 0.8;">{{ tr.category }}
              </span>
            </div>
          </div>
          <div class="text-sm text-gray-700">
            {{ tr.title|title }}
          </div>
          <div class="text-sm font-medium text-black">
            RON {{ tr.amount|floatformat:0 }}
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

  </div>
</section>


<script>
  let options = {
    valueNames: ['tr__type', 'tr__category', 'tr__title', 'tr__amount', 'tr__account', 'tr__date'],
    page: 10,
    pagination: true
  };

  let transactionList = new List('transactions-table', options);

  // Filter by type
  function filterExpense() {
    transactionList.filter(function (tr) {
      if (tr._values.tr__type.includes("bi-arrow-down-right")) {
        return true;
      } else {
        return false;
      }
    });
  }

</script>
