
<main class="h-full overflow-y-auto">
    <div class="container px-6 mx-auto bg-gray-200 dark:bg-gray-900">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Welcome {{ user.first_name|title }}
      </h2>

      <!-- User accounts -->
      <div
        hx-get="{% url 'wallet:accounts_list' %}"
        hx-trigger="load, transactionListChanged from:body"
        hx-target="this"
      >
      </div>

      <!-- Transactions -->
      <div
        hx-get="{% url 'wallet:transaction_list' %}"
        hx-trigger="load delay:1s, transactionListChanged from:body delay:300ms"
        hx-target="this"
        :hx-vals="getHtmxPeriodVals"
      >
      </div>

    </div>
  </main>


  {% include 'wallet/partials/mobile_add_menu.html' %}