<div
  class="hidden px-4 py-2 text-xs font-semibold tracking-wide text-gray-500 uppercase  bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800 md:grid">
  <span class="flex items-center col-span-3"> Showing 21-30 of 100 </span>
  <span class="col-span-2"></span>
  <!-- Pagination -->
  <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
    <nav aria-label="Table navigation">
      <ul class="inline-flex items-center">
        <li>
          <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
            1
          </button>
        </li>
        <li>
          <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
            2
          </button>
        </li>
        <li>
          <button
            class="px-2 py-0.5 text-white transition-colors duration-150 bg-accent border border-r-0 border-accent rounded-xl focus:outline-none">
            3
          </button>
        </li>
        <li>
          <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
            4
          </button>
        </li>
        <li>
          <span class="px-3 py-1">...</span>
        </li>
        <li>
          <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
            8
          </button>
        </li>
        <li>
          <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
            9
          </button>
        </li>

      </ul>
    </nav>
  </span>
</div>
