<!-- Desktop sidebar -->
<aside
  class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0"
>
  <div class="py-4 text-gray-500 dark:text-gray-400">
    <a class="ml-6 text-lg font-bold cursor-pointer text-gray-800 dark:text-gray-200"
        hx-get="{% url 'wallet:home' %}"
        hx-trigger="click"
        hx-target="#dashboard-main"
        hx-replace-url="true">
      allocatr
    </a>

    <ul class="mt-6">
      <!-- Home -->
      <li class="relative px-6 py-3 cursor-pointer">
        <span
          class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
          aria-hidden="true"
        ></span>
        <a
          class="inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100"
          hx-get="{% url 'wallet:home' %}"
          hx-trigger="click"
          hx-target="#dashboard-main"
          hx-replace-url="true"
        >
          <i class="bi bi-house-door text-lg"></i>
          <span class="ml-4">Home</span>
        </a>
      </li>
    </ul>

    <ul>
      <!-- Accounts -->
      <li class="relative px-6 py-3 cursor-pointer">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          hx-get="{% url 'wallet:accounts' %}"
          hx-trigger="click"
          hx-target = "#dashboard-main"
          :hx-vals="getSelectedMonth"
          hx-replace-url="true"
        >
          <i class="bi bi-window-stack"></i>
          <span class="ml-4">Accounts</span>
        </a>
      </li>

      <!-- Transactions -->
      <li class="relative px-6 py-3 cursor-pointer">
        <button
          class="inline-flex items-center justify-between w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 focus:outline-none"
          @click="toggleTransactionsMenu"
          aria-haspopup="true"
        >
          <span class="inline-flex items-center">
            <i class="bi bi-list-task"></i>
            <span class="ml-4">Transactions</span>
          </span>
          <i class="bi bi-chevron-down"></i>
        </button>
        <template x-if="isTransactionsMenuOpen">
          <ul
            x-transition:enter="transition-all ease-in-out duration-300"
            x-transition:enter-start="opacity-25 max-h-0"
            x-transition:enter-end="opacity-100 max-h-xl"
            x-transition:leave="transition-all ease-in-out duration-300"
            x-transition:leave-start="opacity-100 max-h-xl"
            x-transition:leave-end="opacity-0 max-h-0"
            class="p-2 mt-2 space-y-2 overflow-hidden text-sm font-medium text-gray-500 rounded-md shadow-inner bg-gray-50 dark:text-gray-400 dark:bg-gray-900"
            aria-label="submenu"
          >
            <li
              class="px-2 py-1 cursor-pointer transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
            >
              <a class="w-full" href="#"
                ><i class="bi bi-list"></i>
                <span class="ml-2">All Transactions</span></a
              >
            </li>
            <li
              class="px-2 py-1 cursor-pointer transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
            >
              <a class="w-full" href="#"
                ><i class="bi bi-arrow-up-right"></i>
                <span class="ml-2">Incomes</span></a
              >
            </li>
            <li
              class="px-2 py-1 cursor-pointer transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
            >
              <a class="w-full" href="#"
                ><i class="bi bi-arrow-down-right"></i>
                <span class="ml-2">Expenses</span></a
              >
            </li>
            <li
              class="px-2 py-1 cursor-pointer transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
            >
              <a class="w-full" href="#"
                ><i class="bi bi-arrow-left-right"></i>
                <span class="ml-2">Transfers</span></a
              >
            </li>
          </ul>
        </template>
      </li>

      <!-- Categories -->
      <li class="relative px-6 py-3 cursor-pointer">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          hx-get="{% url 'wallet:categories' %}"
          hx-trigger="click"
          hx-target = "#dashboard-main"
          :hx-vals="getSelectedMonth"
          hx-replace-url="true"
        >
          <i class="bi bi-tags"></i>
          <span class="ml-4">Categories</span>
        </a>
      </li>

      <!-- Reports -->
      <li class="relative px-6 py-3 cursor-pointer">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="#"
        >
          <i class="bi bi-graph-up-arrow"></i>
          <span class="ml-4">Reports</span>
        </a>
      </li>

      <!-- Budgets -->
      <li class="relative px-6 py-3 cursor-pointer">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="#"
        >
          <i class="bi bi-wallet-fill"></i>
          <span class="ml-4">Budgets</span>
        </a>
      </li>

      <!-- Settings -->
      <li class="relative px-6 py-3 cursor-pointer">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="#"
        >
          <i class="bi bi-sliders"></i>
          <span class="ml-4">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<!-- Mobile sidebar -->

<!-- Backdrop -->
<div
  x-show="isSideMenuOpen"
  x-transition:enter="transition ease-in-out duration-150"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in-out duration-150"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
  class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
></div>
<aside
  class="fixed inset-y-0 z-20 flex-shrink-0 w-64 mt-16 overflow-y-auto bg-white dark:bg-gray-800 md:hidden"
  x-show="isSideMenuOpen"
  x-transition:enter="transition ease-in-out duration-150"
  x-transition:enter-start="opacity-0 transform -translate-x-20"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in-out duration-150"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0 transform -translate-x-20"
  @mousedown.outside="closeSideMenu"
  @keydown.escape="closeSideMenu"
>
  <div class="py-4 text-gray-500 dark:text-gray-400">
    <a class="ml-6 text-lg font-bold cursor-pointer text-gray-800 dark:text-gray-200"
      hx-get="{% url 'wallet:home' %}"
      hx-trigger="click"
      hx-target="#dashboard-main"
      hx-replace-url="true"
      @click="closeSideMenu">
      allocatr
    </a>
    <ul class="mt-6">
      <li class="relative px-6 py-3 cursor-pointer">
        <span
          class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
          aria-hidden="true"
        ></span>
        <a
          class="inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100"
          hx-get="{% url 'wallet:home' %}"
          hx-trigger="click"
          hx-target="#dashboard-main"
          hx-replace-url="true"
          @click="closeSideMenu"
        >
          <i class="bi bi-house-door text-lg"></i>
          <span class="ml-4">Home</span>
        </a>
      </li>
    </ul>
    <ul>
      <!-- Accounts -->
      <li class="relative px-6 py-3 cursor-pointer">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          hx-get="{% url 'wallet:accounts' %}"
          hx-trigger="click"
          hx-target = "#dashboard-main"
          :hx-vals="getSelectedMonth"
          hx-replace-url="true"
          @click="closeSideMenu"
        >
          <i class="bi bi-window-stack"></i>
          <span class="ml-4">Accounts</span>
        </a>
      </li>

      <!-- Transactions -->
      <li class="relative px-6 py-3 cursor-pointer">
        <button
          class="inline-flex items-center justify-between w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 focus:outline-none"
          @click="toggleTransactionsMenu"
          aria-haspopup="true"
        >
          <span class="inline-flex items-center">
            <i class="bi bi-list-task"></i>
            <span class="ml-4">Transactions</span>
          </span>
          <i class="bi bi-chevron-down"></i>
        </button>
        <template x-if="isTransactionsMenuOpen">
          <ul
            x-transition:enter="transition-all ease-in-out duration-300"
            x-transition:enter-start="opacity-25 max-h-0"
            x-transition:enter-end="opacity-100 max-h-xl"
            x-transition:leave="transition-all ease-in-out duration-300"
            x-transition:leave-start="opacity-100 max-h-xl"
            x-transition:leave-end="opacity-0 max-h-0"
            class="p-2 mt-2 space-y-2 overflow-hidden text-sm font-medium text-gray-500 rounded-md shadow-inner bg-gray-50 dark:text-gray-400 dark:bg-gray-900"
            aria-label="submenu"
          >
            <li
              class="px-2 py-1 cursor-pointer transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
            >
              <a class="w-full" href="#"
                ><i class="bi bi-list"></i>
                <span class="ml-2">All Transactions</span></a
              >
            </li>
            <li
              class="px-2 py-1 cursor-pointer transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
            >
              <a class="w-full" href="#"
                ><i class="bi bi-arrow-up-right"></i>
                <span class="ml-2">Incomes</span></a
              >
            </li>
            <li
              class="px-2 py-1 cursor-pointer transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
            >
              <a class="w-full" href="#"
                ><i class="bi bi-arrow-down-right"></i>
                <span class="ml-2">Expenses</span></a
              >
            </li>
            <li
              class="px-2 py-1 cursor-pointer transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
            >
              <a class="w-full" href="#"
                ><i class="bi bi-arrow-left-right"></i>
                <span class="ml-2">Transfers</span></a
              >
            </li>
          </ul>
        </template>
      </li>

      <!-- Categories -->
      <li class="relative px-6 py-3 cursor-pointer">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          hx-get="{% url 'wallet:categories' %}"
          hx-trigger="click"
          hx-target = "#dashboard-main"
          :hx-vals="getSelectedMonth"
          hx-replace-url="true"
          @click="closeSideMenu"
        >
          <i class="bi bi-tags"></i>
          <span class="ml-4">Categories</span>
        </a>
      </li>

      <!-- Reports -->
      <li class="relative px-6 py-3 cursor-pointer">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="#"
        >
          <i class="bi bi-graph-up-arrow"></i>
          <span class="ml-4">Reports</span>
        </a>
      </li>

      <!-- Budgets -->
      <li class="relative px-6 py-3 cursor-pointer">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="#"
        >
          <i class="bi bi-wallet-fill"></i>
          <span class="ml-4">Budgets</span>
        </a>
      </li>

      <!-- Settings -->
      <li class="relative px-6 py-3 cursor-pointer">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="#"
        >
          <i class="bi bi-sliders"></i>
          <span class="ml-4">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
