{% extends "base.html" %}

{% block title %}allocatr | Home{% endblock title %}

{% block content %}

<div class="flex h-screen bg-gray-200 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen }">
  {% include 'wallet/partials/sidebar.html' %}

  <div class="flex flex-col flex-1 w-full bg-gray-200 dark:bg-gray-900">
    {% include 'wallet/partials/header/header.html' %}

    <div id="dashboard-main">
      {% block dashboard_main %}

      {% endblock dashboard_main %}
    </div>

  </div>
</div>

{% include 'wallet/partials/modal.html' %}

{% include 'wallet/partials/mobile_add_menu.html' %}

{% endblock content %}
