{% extends "base.html" %}
{% load static %}

{% block title %}{% if request.user.is_authenticated %}allocatr » {{ request.user.first_name|title }} {%else%} allocatr {% endif%}{% endblock %}

{% block content %}

<div class="row layout-top-spacing">
    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
        <div class="widget widget-six">
            <div class="widget-heading">
                <h6 class="">Statistics</h6>
                <div class="task-action">
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="statistics" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                        </a>

                        <div class="dropdown-menu left" aria-labelledby="statistics" style="will-change: transform;">
                            <a class="dropdown-item" href="javascript:void(0);">View</a>
                            <a class="dropdown-item" href="javascript:void(0);">Download</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-chart">
                <div class="w-chart-section">
                    <div class="w-detail">
                        <p class="w-title">Total Visits</p>
                        <p class="w-stats">423,964</p>
                    </div>
                    <div class="w-chart-render-one">
                        <div id="total-users"></div>
                    </div>
                </div>

                <div class="w-chart-section">
                    <div class="w-detail">
                        <p class="w-title">Paid Visits</p>
                        <p class="w-stats">7,929</p>
                    </div>
                    <div class="w-chart-render-one">
                        <div id="paid-visits"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="widget widget-card-four">
            <div class="widget-content">
                <div class="w-header">
                    <div class="w-info">
                        <h6 class="value">Expenses</h6>
                    </div>
                    <div class="task-action">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="expenses" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                            </a>

                            <div class="dropdown-menu left" aria-labelledby="expenses" style="will-change: transform;">
                                <a class="dropdown-item" href="javascript:void(0);">This Week</a>
                                <a class="dropdown-item" href="javascript:void(0);">Last Week</a>
                                <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-content">

                    <div class="w-info">
                        <p class="value">$ 45,141 <span>this week</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg></p>
                    </div>

                </div>

                <div class="w-progress-stats">
                    <div class="progress">
                        <div class="progress-bar bg-gradient-secondary" role="progressbar" style="width: 57%" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="">
                        <div class="w-icon">
                            <p>57%</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="widget widget-card-three">
            <div class="widget-content">
                <div class="account-box">
                    <div class="info">
                        <div class="inv-title">
                            <h5 class="">Total Balance</h5>
                        </div>
                        <div class="inv-balance-info">
                            <p class="inv-balance">$ 41,741.42</p>
                            <span class="inv-stats balance-credited">+ 2453</span>
                        </div>
                    </div>
                    <div class="acc-action">
                        <div class="">
                            <a href="javascript:void(0);" class="btn-wallet"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg></a>
                        </div>
                        <a href="javascript:void(0);" class="btn-add-balance">Add Balance</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade inputForm-modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" id="dialog" hx-target="this">
        </div>
    </div>



    <div
        id="tableHover"
        class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing"
        >
        <div class="statbox widget box box-shadow">
        <div class="widget-header pt-2">
            <div class="d-flex justify-content-between align-items-center">
            <div class="">
                <h4>Transactions</h4>
            </div>
            <a
                hx-get="{% url 'core:add_income' %}"
                hx-trigger="click"
                hx-target="#dialog"
                class="mb-2 me-4 _effect--ripple waves-effect waves-light bs-tooltip"
                data-bs-toggle="tooltip"
                title="Add transaction"
                data-bs-placement="top"
            >
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-plus"
                >
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
            </a>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="fw-bolder">Type</th>
                    <th scope="col" class="fw-bolder">Transaction</th>
                    <th class="text-center" scope="col" class="fw-bolder">Amount</th>
                    <th scope="col" class="fw-bolder">Date</th>
                    <th class="text-center" scope="col" class="fw-bolder">Account</th>
                    <th class="text-center" scope="col" class="fw-bolder">Actions</th>
                </tr>
                </thead>
                <tbody
                    hx-get="{% url 'core:transaction_list' %}"
                    hx-trigger="load, transactionListChanged from:body"
                    hx-target="this"
                    >
                </tbody>
            </table>
        </div>
    </div>



</div>


{% endblock content %}



{% block inline_javascript %}

{% endblock inline_javascript %}
